<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudentSprinter</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>StudentSprinter</h1>
        <h4>A Page Dedicated To Student Daily Tasks</h4>
    </header>


    <div class="task-container">
        <form action="/add-task" method="post">
            <input type="text" name="task" placeholder="Enter Task Here">
            
            <br>
            <br>
            

            <label>
                DUE <input type="date" name="dueDate">
            </label>
            <br>
            <br>

           <button type="submit">add task here</button>
        </form>
    </div>

    <% tasks.forEach((task,index)=> { %>

        <div class="task-card">
            <br>


            <form action="/complete-task/<%=index%>" method="post">
                <input type="checkbox" name="Taskcompletion" onchange="this.form.submit()" <%= task.completed ? 'checked' : '' %>>
            </form>
                
           
            <br>
            <% if(task.dueDate){ %>
                Due: <%= task.dueDate %>
            <% } %>
            
            <br>
            

            <form action="/delete-task/<%=index%>" method="POST">
                <button type="submit">Delete</button>
            </form>
            <br>

            <% if(task.completed){ %>

                <s><%= task.task %></s>
                
            <% } else { %>

                <%= task.task %>

            <% } %>
                


           
            
        </div>
 
    <% }) %>





</body>
</html>